<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Product</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-danger">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="#">
                <img src="https://cdn.worldvectorlogo.com/logos/del-monte-3.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Del Monte
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active text-light" aria-current="page" href="/products">Home</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- end of navbar -->

    <% if (product) { %>
        <h2 class="text-center m-3">Product ID: <%= product.id %></h2>
        <div class="card show-card">
            <img src="<%= product.img %>" alt="<%= product.product %> Image" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><%= product.product %></h5>
                <p class="card-text"><%= product.brand %></p>
            </div>
            
            <!-- Link to the product's edit page -->
                <a href="/products/<%= product.id %>/edit" class="btn btn-danger m-1">Edit Product</a>
                <a href="/products" class="btn btn-danger m-1">Back to Index</a>
                <!-- Form for deleting the product -->
                <form action="/products/<%= product.id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger m-1">Delete</button>
                </form>
            <!-- Link back to index -->
            
        </div>
    <% } else { %>
        <p>Product not found</p>
        <a href="/products" class="btn btn-danger">Back to Index</a>
    <% } %>  
</body>
</html>